parameters:
    level: max
    paths:
        - bin
        - config
        - public
        - src
        - tests
        - tools/legacy-import/php
        - tools/initial-data.php
        - tools/primary-refresh/apply.php
